// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colours
@import "styles/variables-colors";

// Import Base & Modules
@import "~@getbase/animations/scss/index";
@import "~@getbase/base/scss/index";
@import "~@getbase/buttons/scss/index";
@import "~@getbase/containers/scss/index";
@import "~@getbase/forms/scss/index";
@import "~@getbase/grid/scss/index";
// @import "~@getbase/micro-grid/scss/index";
@import "~@getbase/tables/scss/index";
@import "~@getbase/typography/scss/index";

// Overall Styles
@import "styles/header";
@import "styles/footer";

// Base Typography and Layout Helpers
@import "~@getbase/typography-helpers/scss/index";
@import "~@getbase/layout-helpers/scss/index";
@import "~@getbase/layout-spacers/scss/index";